.feed_opts{
    display: flex;
    align-items: center;
    cursor: pointer;
color: #0074b1;

}
.feed_opts>h4{
    margin-left: 5px;
}
.feed_opts:hover{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    
}
.feed_opts_photo{
    display: flex;
   flex-direction: column;
   align-items: center;
    cursor: pointer;
color: #0074b1;

}
.photo__info{
    display: flex;
    align-items: center;
}
.feed_opts_photo:hover{
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}